Package: ml.festival.lockwatch10
Name: LockWatch Beta (iOS 10)
Depends: mobilesubstrate, firmware(>=10.0)
Depiction: https://festival.ml/repo/depiction.php?p=ml.festival.lockwatch10
Version: 0.0.1-beta1
Architecture: iphoneos-arm
Description: LockWatch for iOS 10
Maintainer: Sniper_GER <submissions@festival.ml>
Author: Sniper_GER <submissions@festival.ml>
Section: Tweaks
